<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>reddit_icon_512.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.ewlcheng.LaunchBar.action.SearchReddit</string>
	<key>CFBundleName</key>
	<string>Search Reddit</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Edward Cheng</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>An action to allow you to search Reddit. You can sort your results or limit your search to a sub reddit by including "r/&lt;subreddit-name&gt;" in your search.</string>
		<key>LBTwitter</key>
		<string>@ewlcheng</string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
